@page "/About"
@*@inject IJSRuntime JS;*@
@inject IJSRuntime jsRuntime;


<div id="body-wrap">
    <main>
        <a class="skip-main" href="#layout">Skip to main content</a>
        <div id="layout">
            <!-- **************************************************************************************************** -->
            <table><tr><td>&nbsp;</td></tr></table><table><tr><td>&nbsp;</td></tr></table><table><tr><td>&nbsp;</td></tr></table><table><tr><td>&nbsp;</td></tr></table>
            <!-- Carousel  ================================================== -->
            <div class="container col-md-12">
                <div class="col-md-6">
                    <!-- Carousel ================================================== -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="first-slide" src="img/doctor-and-nurse-examine-x-rays.jpg" alt="First slide">
                                <!-- In case you want some caption on your slide, uncomment this section here
                                <div class="container">
                                  <div class="carousel-caption">
                                    <h1>Example headline.</h1>
                                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                                  </div>
                                </div>-->
                            </div>
                            <div class="item">
                                <img class="second-slide" src="img/DrPatient.jpeg" alt="Second slide">
                                <!-- In case you want some caption with button on your slide, uncomment this section here
                                <div class="container">
                                  <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                                  </div>
                                </div> -->
                            </div>
                            <div class="item">
                                <img class="third-slide" src="img/DrVacinate.jpeg" alt="Third slide">
                                <!-- In case you want some caption with button on your slide, uncomment this section here
                                <div class="container">
                                  <div class="carousel-caption">
                                    <h1>One more for good measure.</h1>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                                  </div>
                                </div> -->
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div><!-- /.carousel -->
                </div>
                <div class="col-md-6">
                    <!-- <img src="image/LogoIconlb.png" class="alignleft"> -->
                    <h2 class="featurette-heading">Rural Wellness Fairfax, Inc.</h2><h3 class="featurette-heading2"><span class="text-blue">Dr. Elizabeth J. Pusey, Founder and President.</span></h3>

                    <p class="lead">
                        Rural Wellness Fairfax, Inc. acquired Fairfax Community Hospital based in Fairfax, Oklahoma and two area clinics, one located in Fairfax and the other located in Pawnee, OK.
                    </p>
                    <p class="lead">
                        In addition to Dr. Pusey’s leadership, First Physicians Capital Group, an Oklahoma City-based hospital management group, will help lead operations at Fairfax Community Hospital through financial, technology, and capital solutions.
                    </p>
                    <p class="lead">
                        Rural Wellness Fairfax planned hospital improvements include adding an additional 6 rooms at the end of the patient hall, expanding the lab, and relocation and expansion of the emergency room.
                        Pictures of just a a few of the already completed improvements can be seen below.
                    </p>
                </div>


            </div>
            <!--  End Carousel
            ================================================== -->
            <!-- **************************************************************************************************** -->

            <article>
                <!--<h9>About Rural Wellness, Inc.</h9>-->
                <!-- **************************************************************************************************** -->
                <table>
                    <tr>
                        <td>
                            <div id="spotlight">
                                <div class="flex">
                                    <article_nested>
                                        <span class="callunawhite">
                                            Fairfax Community Hospital is an full-service critical access hospital.
                                            <br />
                                            Rural Wellness Fairfax hopes that you will consider our hospital and clinics as a valued asset and benefit to local residents as we continue making every effort to provide quality healthcare services for our patients.
                                        </span>
                                    </article_nested>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- **************************************************************************************************** -->
                <br />


                <table>
                    <tr>
                        <td>
                            <h3 class="featurette-heading2"><span class="text-blue">Innovation, Technology and Teamwork</span></h3>
                            <p class="lead">
                                Rural Wellness Fairfax has invested in our hospital staff by providing additional healthcare training, initiated team-building experiences, and purchased new equipment such as the new digital X-ray unit, and several medical grade air purifiers to filter out viruses and improve the safety of air-quality for patients, staff and visitors.
                                Below is a photo gallery showcasing improvements Rural Wellness Fairfax has been able to implement thus far, and there are also improvements in the near future, such as expanding the emergency room and lab and adding six new patient rooms.

                            </p>
                        </td>
                    </tr>
                </table>
                <!-- ************************************************************************************************************ --->

                <div class="demo">
                    <div class="item">
                        <div class="clearfix" style="max-width:821px;">
                            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                <li data-thumb="img/thumb/FrontAfter1.Before.th.jpg">
                                    <img src="img/FrontAfter1.Before.jpg">
                                </li>
                                <li data-thumb="img/thumb/FrontAfter3.Before.th.jpg">
                                    <img src="img/FrontAfter3.Before.jpg" />
                                </li>
                                <li data-thumb="img/thumb/RoofAfter.Before.th.jpg">
                                    <img src="img/RoofAfter.Before.jpg" />
                                </li>
                                <li data-thumb="img/thumb/XrayAfterBefore.th.jpg">
                                    <img src="img/XrayAfterBefore.jpg" />
                                </li>
                                <li data-thumb="img/thumb/LeakAfter.th.jpeg">
                                    <img src="img/LeakAfter.jpeg" />
                                </li>
                                <li data-thumb="img/thumb/PPE.th.jpg">
                                    <img src="img/PPE.jpg" />
                                </li>
                                <li data-thumb="img/thumb/Team.th.jpg">
                                    <img src="img/Team.jpg" />
                                </li>
                                <li data-thumb="img/thumb/Training.th.jpg">
                                    <img src="img/Training.jpg" />
                                </li>
                                <li data-thumb="img/thumb/AirQuality.th.jpg">
                                    <img src="img/AirQuality.jpg" />
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ***************************************************************** --->
                <table>
                    <tr>
                        <td>
                            <h3 class="featurette-heading2"><span class="text-blue">Healthcare Team</span></h3>
                            <p class="lead">
                                Rural Wellness Fairfax staff includes physicians and providers representing a range of medical training and experience as well as caring and experienced physician assistants, nurses and support staff that are equipped and ready to serve the Fairfax community.
                                Our healthcare team members and support staff all contribute to help ensure your hospital experience is a positive one.
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- ***************************************************************** --->
                <div>
                    <div class="wrap">
                        <div>
                            <h3 class="featurette-heading2"><span class="text-blue">Leadership</span></h3>
                            <p class="lead">
                                <img src="img/hunter.jpg" class="imgright">Hunter Thoms is the acting Interim Chief Executive Officer for Rural Wellness Fairfax (RWF) in Fairfax, Oklahoma and he is responsible for managing hospital operations and communicating information about operations with other hospital staff and the board of directors. What makes him an awesome leader is that he handles it all, calmly. What is best for the patient, the employee and the community, he puts that first. Hunter has been recognized for his statistical ability to translate market opportunities into agile initiatives and actionable KPIs – ultimately driving business development, brand resonance, and operational efficiency.

                            </p> <p class="lead">
                                Hunter not only has great leadership skills; he is also a team-player. He first entered the field of healthcare management at First Physicians as an Operations Manager in 2015 where he set and followed standards for operational excellence for rural hospitals, helped hire and retain qualified staff and is a healthcare leader with a proven track record of developing strong, collaborative relationships at all levels of an organization. During his time with First Physicians, Hunter has successfully led many projects ranging from small scale construction to facility wide electronic health record (EHR) implementations.
                                As Operations Manager, Thoms consulted with clinical and administrative teams to identify operational pain points, and worked cross functionally to create and implement sustainable solutions.
                            </p>

                            <p class="lead">
                                Prior to 2015, Hunter presided over single and multi-unit foodservice operations as manager and consultant. Hunters' background also includes assisting with a start-up, for-profit retail company, during an eight-year span.
                            </p>
                            <p class="lead">
                                In his spare time, Hunter enjoys spending quality time with his wife and daughter, and outdoor activities with their two dogs.  With an innate curiosity and a desire to learn, Hunter enjoys traveling and learning about different cultures, and picking up new skills along the way.
                            </p>
                            <p class="lead">
                                Hunter holds a bachelor’s degree in business administration from Northwestern State University and a master’s degree in business administration from the University of Texas at Arlington. Hunter also holds certification for Project Management Professional (PMP) from the Project Management Institute.
                            </p>

                        </div>
                    </div>
                </div>
                <!-- ***************************************************************** --->
                <br />
                <!-- **************************************************************************************************** -->
                <table>
                    <tr>
                        <td>
                            <div id="spotlight">
                                <div class="flex">
                                    <article_nested>
                                        <span class="callunawhite">
                                            On December 10, 2019, Rural Wellness Fairfax, Inc. purchased Fairfax Community Hospital, preserving approximately 50 jobs.
                                            The paragraph below recognizes tremendous dedication of hospital staff members to keep the hospital open.

                                        </span>
                                    </article_nested>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- **************************************************************************************************** -->
                <br />

                <!-- ************************************************************************************************************ --->
                <table>
                    <tr>
                        <td>
                            <h3 class="featurette-heading2"><span class="text-blue;text-decoration:underline !important;">A Past Setback Turns Into Possibility for Positive Changes In The Future</span></h3>
                            <span class="callunamedium">

                            </span>



                            <p class="lead">
                                <span class="callunasmall">
                                    Just imagine a story that is courageous and inspiring about extraordinary people who kept a hospital open; this back-story of hope,
                                    and then positive change is now an essential part of Fairfax Community Hospital's past history.
                                </span> Before Rural Wellness Fairfax purchased the hospital, there were several news articles about the hospital.
                                <a href="https://www.washingtonpost.com/news/national/wp/2019/05/11/feature/whos-going-to-take-care-of-these-people/?utm_term=.7d004289a5ab&wpisrc=nl_most&wpmm=1" target="_blank" style="color:#0000EE;">
                                    <span style="color: #0000EE">This article that is a 20-minute read was published in the Washington Post, chronicles earlier history of this hospital during an extremely difficult time.</span>
                                </a> But despite the challenges facing the staff, people kept showing up to the emergency room and were either treated or referred to other medical facilities. The story shows what Rural Healthcare can truly mean to the surrounding community.
                                This article was read by many across the nation who were emotionally moved by the self-less actions of hospital staff, who kept showing up to work to save this rural hospital from closure.

                                <img src='image/FCH2.jpg' />    <a href="https://www.washingtonpost.com/news/national/wp/2019/05/11/feature/whos-going-to-take-care-of-these-people/?utm_term=.7d004289a5ab&wpisrc=nl_most&wpmm=1" target="_blank" style="color:#0000EE;"><span style="color:#0000EE;font-size:.76em;">A link to article by Eli Saslow/Washington Post</span></a>
                            </p>
                        </td>
                    </tr>
                </table>


            </article>	<!-- end article css -->
            <!-- **************************************************************************************************** -->
        </div> <!-- end layout -->



        <table width="100%" bgcolor="#00569d" margin="8" padding="8">
            <tr bgcolor="00569d" height="44px">
                <td align="center"><span class="spbottom">Community Health Partner&nbsp;&nbsp;&nbsp;learn more about our services &amp; classes &mdash; 918-642-3291&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
        </table>




        <div style="overflow-x:auto;">
            <table width="100%" table-layout="fixed" bgcolor="#15223b" margin="7" padding="7">
                <tr bgcolor="#15223b" height="20px">
                    <td colspan="12">&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td rowspan="3" style="width:275px">
                        <span class="spfooter"><img src="image/fchlogoRwgtsm.png" alt="Bottom logo Rural Wellness" /></span>
                    </td> <!--fchlogoRwgt.png-->
                    <td>&nbsp;</td>
                    <td style="width:328px"><span class="spfooterh"><b>AT FAIRFAX COMMUNITY HOSPITAL</b></span></td>

                    <td style="width:275px"><span class="spfooterh"><b>OUR NETWORK</b></span></td>

                    <td style="width:275px"><span class="spfooterh"><b>AFFILIATES</b></span></td>
                    <td rowspan="2" style="width:275px">
                        <a href="https://www.facebook.com/fairfaxcommunityhospital/" target="_blank" title="Follow Fairfax Community Hospital on Facebook"><img border="0" alt="Facebook Icon" src="image/hiclipart.com10.png"></a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><span class="spfooter"><a href="srv_index.html" style="color:#aaa9ad !important;">Services</a></span></td>
                    <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax Clinic</a></span></td>
                    <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax, Inc</a></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="srv_pricing.html" style="color:#aaa9ad !important;">Pricing</a></span></td>
                    <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Pawnee Clinic</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td style="width:300px"><span class="spfooter">40 Hospital Rd. Fairfax, OK 74637</span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><span class="spfooter"><a href="visiting.html" style="color:#aaa9ad !important;">Patients &amp; Visitors</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><span class="spfooter2">(918) 642-3291 or <a class="underline" href="contact.html">contact us</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><span class="spfooter"><a href="hw_links.html" style="color:#aaa9ad !important;">Health &amp; Wellness</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="33px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><span class="spfooter"><a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#aaa9ad !important;"><span class="spfooter">Careers</span></a></span></td>
                    <td>&nbsp;</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <!--        <tr bgcolor="15223b">
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td>&nbsp;</td>
                      <td>&nbsp;</td>
                     <td>&nbsp;</td>
                      <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>

                     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr> -->
                <!--   <tr bgcolor="15223b">
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td>&nbsp;</td>
                      <td>&nbsp;</td>
                     <td>&nbsp;</td>
                      <td>&nbsp;</td>
                       <td>&nbsp;</td>
                       <td>&nbsp;</td>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr> -->
            </table>
        </div>

        <footer id="main-footer">
            <div class="footer-top">
                <!--   <div id="sitemap">
                <div > -->
                <!--</div>-->
            </div>
            <div class="copyright">
                <div class="row">

                </div>
            </div>
        </footer>
    </main>
</div> <!-- end body-wrap -->




@code {
    //JSObjectReference module;
    //JSObjectReference module2;
    //JSObjectReference module3;
    //JSObjectReference module4;

    //protected override async void OnInitialized()
    //{
    //module = await jsRuntime.InvokeAsync<JSObjectReference>("import", "./js/about.js").AsTask();
    //module2 = await jsRuntime.InvokeAsync<JSObjectReference>("import", "./js/lightslider.js").AsTask();
    //module4 = await jsRuntime.InvokeAsync<JSObjectReference>("import", "./js/jquery-2.1.1.min.js").AsTask();
    //module3 = await jsRuntime.InvokeAsync<JSObjectReference>("includeCss").AsTask();
    //}

    //protected override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        return jsRuntime.InvokeVoidAsync("alertFunctions.init").AsTask();
    //    }

    //    return Task.CompletedTask;
    //}
}
