@page "/Contact"
@inject IJSRuntime JS;

    <div id="body-wrap">
        <main>
            <a class="skip-main" href="#layout">Skip to main content</a>
            <div id="layout">
                <!-- **************************************************************************************************** -->
                <article>

                    <table>
                        <tr><td><img src="pics/FCHSign446H.png" alt="" /></td><td><img src="pics/HerosWorkHereT3.jpg" alt="" /></td></tr>
                    </table>
                    <br>
                    <h9>Contact Us </h9>


                    <div class="heading-title heading-border heading-color">
                        <h4>Fairfax  <span>Community Hospital</span></h4>
                    </div>
                    <p class="card__text">
                        &nbsp;&nbsp;&nbsp;40 Hospital Rd. Fairfax, OK 74637
                        <br />
                        &nbsp;&nbsp;&nbsp;Main Hospital Phone Number - (918) 642-3291
                        <br /><br />
                        <span Style="color:red;">If this is an emergency, please dial 911</span>
                    </p>

                    <div class="heading-title heading-border heading-color">
                        <h4>Driving  <span> Directions - click on <br />view larger map below</span></h4>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3204.61845351021!2d-96.70917538497449!3d36.5633116886985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1602186781241!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


                </article>	<!-- end article css -->
                <!-- **************************************************************************************************** -->
                <br />
            </div> <!-- end layout -->



            <table width="100%" bgcolor="#00569d" margin="8" padding="8">
                <tr bgcolor="00569d" height="44px">
                    <td align="center"><span class="spbottom">Community Health Partner&nbsp;&nbsp;&nbsp;learn more about our services &amp; classes &mdash; 918-642-3291&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                </tr>
            </table>






            <div style="overflow-x:auto;">
                <table width="100%" table-layout="fixed" bgcolor="#15223b" margin="7" padding="7">
                    <tr bgcolor="#15223b" height="20px">
                        <td>&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b" height="32px">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td rowspan="3" style="width:275px"><span class="spfooter"><img src="image/fchlogoRwgtsm.png" alt="Bottom logo Rural Wellness" /></span>
                        <td> <!--fchlogoRwgt.png-->
                        <td>&nbsp;</td>
                        <td style="width:328px"><span class="spfooterh"><b>AT FAIRFAX COMMUNITY HOSPITAL</b></span></td>

                        <td style="width:275px"><span class="spfooterh"><b>OUR NETWORK</b></span></td>

                        <td style="width:275px"><span class="spfooterh"><b>AFFILIATES</b></span></td>
                        <td rowspan="2" style="width:275px"><a href="https://www.facebook.com/fairfaxcommunityhospital/" target="_blank" title="Follow Fairfax Community Hospital on Facebook"><img border="0" alt="Facebook Icon" src="image/hiclipart.com10.png"></a>
                        <td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b" height="32px">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span class="spfooter"><a href="srv_index.html" style="color:#aaa9ad !important;">Services</a></span></td>
                        <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax Clinic</a></span></td>
                        <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax, Inc</a></span></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b" height="32px">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="srv_pricing.html" style="color:#aaa9ad !important;">Pricing</a></span></td>
                        <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Pawnee Clinic</a></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b" height="32px">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:300px"><span class="spfooter">40 Hospital Rd. Fairfax, OK 74637</span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span class="spfooter"><a href="visiting.html" style="color:#aaa9ad !important;">Patients &amp; Visitors</a></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b" height="32px">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><span class="spfooter2">(918) 642-3291 or <a class="underline" href="contact.html">contact us</a></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span class="spfooter"><a href="hw_links.html" style="color:#aaa9ad !important;">Health &amp; Wellness</a></span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b" height="33px">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><span class="spfooter"><a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#aaa9ad !important;"><span class="spfooter">Careers</span></a></span></td>
                        <td>&nbsp;</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr bgcolor="#15223b">
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>

                </table>
            </div>

            <footer id="main-footer">
                <div class="footer-top">
                    <!--   <div id="sitemap">
        <div > -->
                    <!--</div>-->
                </div> 
                    <div class="copyright">
                        <div class="row">

                        </div>
                    </div>
            </footer>
        </main>
    </div> <!-- end body-wrap -->



    @code {

    }
