@page "/Hw_events"

<div id="body-wrap">
    <main>
        <a class="skip-main" href="#layout">Skip to main content</a>
        <header id="header">
            <div id="logo">
                <a href="index.html"><img alt="Rural Wellness Fairfax, Inc." src="image/logotopblue.png" /></a>
            </div>



            <nav id="primary-nav">

                <div class="rwf-nav-container">

                    <ul class="nav-menu menu main-menu-1">


                        <li class="rwf-parent-menu-item leaf">

                            <a href="index.html" class="menu-link is-active"></a> <!--Home-->
                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="srv_index.html" class="menu-link" style="color:#00569d !important;">Hospital <br /> Services</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-2" aria-labelledby="button-2">


                                <!-- <li class=" leaf">

                                        <a href="srv_index.html">See the comprehensive range of services available at our hospital and clinics.</a>
                            </li>-->

                                <li class=" leaf">

                                    <a href="srv_index.html" style="color:#fff !important;">See All Services</a>
                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Emergency Department</a>
                                </li>
                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Full-Service Laboratory</a>
                                </li>

                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Inpatient Care</a>
                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Radiology</a>


                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Rehabilitation Services</a>


                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Respiratory Therapy</a>


                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Swing Bed</a>


                                </li>

                            </ul>


                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="srv_pricing.html" class="menu-link" style="color:#00569d !important;">Pricing <br />  Transparency</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-3" aria-labelledby="button-3">


                                <li class=" leaf">

                                    <a href="srv_pricing.html" style="color:#fff !important;">Hospital Pricing Information</a>
                                </li>
                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="hw_events.html" class="menu-link" style="color:#00569d !important;">Health & Wellness</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-4" aria-labelledby="button-4">

                                <li class=" leaf">

                                    <a href="hw_events.html" style="color:#fff !important;">Classes & Events</a>


                                </li>
                                <li class=" leaf">

                                    <a href="hw_links.html" style="color:#fff !important;">Health Resource Links</a>
                                </li>
                                <!--<li class=" leaf">

                                            <a href="info/links.html" style="color:#fff !important;">Health Education</a>
                            </li> -->

                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="contact.html" class="menu-link" style="color:#00569d !important;">About <br /> Us</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-5" aria-labelledby="button-5">


                                <li class=" leaf">

                                    <a href="contact.html" style="color:#fff !important;">Contact Us</a>
                                </li>
                                <li class=" leaf">

                                    <a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#fff !important;">Careers</a>
                                </li>

                                <li class=" leaf">
                                    <a href="about.html" style="color:#fff !important;">About Rural Wellness Fairfax, Inc.</a>
                                </li>
                                <li class=" leaf">
                                    <a href="hospbrd.html" style="color:#fff !important;">About Our Governing Board</a>
                                </li>
                                <li class=" leaf">
                                    <a href="index.html" style="color:#fff !important;">About Fairfax Community Hospital</a> <!--Home-->
                                </li>
                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item leaf has-dropdown">

                            <a href="visiting.html" class="menu-link" style="color:#00569d !important;">Patients & Visitors</a>
                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-5" aria-labelledby="button-5">

                                <li class=" leaf">

                                    <a href="covid.html" style="color:#fff !important;">COVID-19: Keeping Our Patients Safe</a>
                                </li>
                                <li class=" leaf">

                                    <a href="visiting.html" style="color:#fff !important;">Visitation Guidelines</a>
                                </li>
                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item leaf has-dropdown">

                            <a href="media.html" class="menu-link" style="color:#00569d !important;">News & Media</a>
                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-5" aria-labelledby="button-5">


                                <li class=" leaf">

                                    <a href="media.html" style="color:#fff !important;">News &amp; Media</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <div id="layout">
            <!-- **************************************************************************************************** -->
            <article>
                <h9>Classes & Events </h9>
                <hr class="style2" />
                <h5>Upcoming Events</h5>

                <p>Many classes and events sponsored by Rural Wellness, Fairfax are being suspended in response to the evolving COVID-19 situation. </p>
                <p> Please check back here for any future updates.</p>
                <br />
                <h6>You're Invited! Free Community Education Events</h6>

                <p>Listen and talk to our specialists face-to-face and learn how you can take action to lessen your potential for problems.</p>

                <p>
                    Fairfax Community Hospital wants you and your family to enjoy the best of health. The classes and events we offer are all geared toward keeping you informed so that you can reach your ultimate health goals.

                    We have designed our classes and events to help you attain your health and lifestyle goals. You’ll find classes for diabetes and nutrition, healthier living, and continuing education.
                </p>

                <br />

                <ul class="cards">
                    <li class="cards__item">
                        <div class="card">
                            <img src="pics/diabetes-sisters-support-group.png" width="380" height="250" alt="" />
                            <div class="card__content">
                                <div class="card__title">Diabetes Education</div>
                                <p class="card__text">  </p>
                                <!-- <button class="btn btn--block card__btn">Button</button> -->
                            </div>
                        </div>
                    </li>
                    <li class="cards__item">
                        <div class="card">
                            <img src="pics/Group-exercise_0.jpg" width="380" height="250" alt="" />
                            <div class="card__content">
                                <div class="card__title">Group Fitness Classes</div>
                                <p class="card__text">  </p>
                                <!-- <button class="btn btn--block card__btn">Button</button> -->
                            </div>
                        </div>
                    </li>
                    <li class="cards__item">
                        <div class="card">
                            <img src="pics/As-You-Wish_1.jpg" width="380" height="250" alt="" />
                            <div class="card__content">
                                <div class="card__title">Health Education &amp; Screenings</div>
                                <p class="card__text">  </p>
                                <!-- <button class="btn btn--block card__btn">Button</button> -->
                            </div>
                        </div>
                    </li>
                    <li class="cards__item">
                        <div class="card">
                            <img src="pics/BHH-5k.jpg" width="380" height="250" alt="" />
                            <div class="card__content">
                                <div class="card__title">Walking Events &amp; Races</div>
                                <p class="card__text">  </p>
                                <!-- <button class="btn btn--block card__btn">Button</button> -->
                            </div>
                        </div>
                    </li>
                    <!--
                 <li class="cards__item">
                  <div class="card">
                   <img src="pics/GED1.png" width="380" height="250" alt="" />
                    <div class="card__content">
                      <div class="card__title">GED Classes</div>
                      <p class="card__text"> </p>
                    </div>
                  </div>
                </li>
                -->
                </ul>












            </article>	<!-- end article css -->
            <!-- **************************************************************************************************** -->
            <br />
        </div> <!-- end layout -->



        <table width="100%" bgcolor="#00569d" margin="8" padding="8">
            <tr bgcolor="00569d" height="44px">
                <td align="center"><span class="spbottom">Community Health Partner&nbsp;&nbsp;&nbsp;learn more about our services &amp; classes &mdash; 918-642-3291&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
        </table>






        <table width="100%" table-layout="fixed" bgcolor="#15223b" margin="7" padding="7">
            <tr bgcolor="#15223b" height="20px">
                <td>&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td rowspan="3" style="width:275px">
                    <span class="spfooter"><img src="image/fchlogoRwgtsm.png" alt="Bottom logo Rural Wellness" /></span>
                </td> <!--fchlogoRwgt.png-->
                <td>&nbsp;</td>
                <td style="width:328px"><span class="spfooterh"><b>AT FAIRFAX COMMUNITY HOSPITAL</b></span></td>

                <td style="width:275px"><span class="spfooterh"><b>OUR NETWORK</b></span></td>

                <td style="width:275px"><span class="spfooterh"><b>AFFILIATES</b></span></td>
                <td rowspan="2" style="width:275px">
                    <a href="https://www.facebook.com/fairfaxcommunityhospital/" target="_blank" title="Follow Fairfax Community Hospital on Facebook"><img border="0" alt="Facebook Icon" src="image/hiclipart.com10.png"></a>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="srv_index.html" style="color:#aaa9ad !important;">Services</a></span></td>
                <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax Clinic</a></span></td>
                <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax, Inc</a></span></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="srv_pricing.html" style="color:#aaa9ad !important;">Pricing</a></span></td>
                <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Pawnee Clinic</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="width:300px"><span class="spfooter">40 Hospital Rd. Fairfax, OK 74637</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="visiting.html" style="color:#aaa9ad !important;">Patients &amp; Visitors</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><span class="spfooter2">(918) 642-3291 or <a class="underline" href="contact.html">contact us</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="hw_links.html" style="color:#aaa9ad !important;">Health &amp; Wellness</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="33px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#aaa9ad !important;"><span class="spfooter">Careers</span></a></span></td>
                <td>&nbsp;</td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

        </table>


        <footer id="main-footer">
            <div class="footer-top">
                <!--   <div id="sitemap">
            <div > -->
                <!--</div> -->
            </div>
            <div class="copyright">
                <div class="row">

                </div>
            </div>
        </footer>
    </main>
</div> <!-- end body-wrap -->
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
@code {

}
