@page "/"

<div id="body-wrap">
    <main>
        <a class="skip-main" href="#layout">Skip to main content</a>
        <div id="layout">
        <table><tr><td>&nbsp;</td></tr></table><table><tr><td>&nbsp;</td></tr></table>
            <table width="100%" bgcolor="#005496" style="margin:0;padding:0;border-collapse:separate !important;border-spacing:0px;border:solid 0;display: table;">
                <tr style="margin:0;padding:12px;border-collapse:collapse !important;">
                    <td bgcolor="#fff" width="239px" style="margin:0;padding:0;border-collapse:collapse !important;border:solid 0;border-top-style:solid;border-top-color:#089de3;border-top-width:7px;">
                        <table style="border-top-style:solid;border-top-color:#fff;border-top-width:1px;background-color:#fff;width:100%;height:100%;margin:0;padding:0;">
                            <tr style="margin:0;padding:0;">
                                <td bgcolor="#fff" style="margin:0;padding:0;">
                                    &nbsp;&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="center" padding-top="6px" padding-bottom="18px" height="38px" vertical-align="middle"><span class="sptop"><a href="index.html" style="color:#fff !important;">Rural Wellness - Fairfax Community Hospital</a>&nbsp;&nbsp;&nbsp;&nbsp;<spacer type="horizontal"> ♢ </spacer>&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html" style="color:#fff !important;">Rural Wellness - Fairfax Clinic</a>&nbsp;&nbsp;&nbsp;&nbsp;<spacer type="horizontal"> ♢ </spacer>&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html" style="color:#fff !important;">Rural Wellness - Pawnee Clinic</a>&nbsp;&nbsp;&nbsp;&nbsp;<spacer type="horizontal"> ♢ </spacer>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#fff !important;">Careers</a></span></td>
                </tr>
            </table>

            <section aria-label="Billboard Banner" id="system-hero" style="background-image:url('image/iStock-1133275320.jpg');">
                @*<div class="overlay"></div>*@

                <div class="container">
                    <div class="hero-area">
                        <!--<div style="float:left; padding: 1em; margin-left: 2em;background-color:#0090bf"><br /> <br /> <br /> <br /> <br /> -->
                        <div style="float: left;
        padding: 1.3em;
        margin-left: -16px !important;
        overflow: auto;
        margin-bottom: 0;
        background-color: #0090bf;
        width: 644px">
                            <br /><br />
                            <p style="font-size: 2.4em; color: #ffffff; margin-top: 1em; margin-bottom: 0em;"><strong>We Are Working To <br />Keep You Healthy.</strong>&nbsp;</p>
                            <p style="font-size: 1.9em; color: #ffffff; margin-bottom: 1em;">We're ready to take care of your <br />health care needs, you can rely on <br />our dedicated and caring physicians and staff.</p>
                            <p><a style="background-color:#ff8200; color:#fff !important;" href="about.html" target="_self" title="" class="button">LEARN MORE</a></p><br /><br />
                        </div>

                    </div>
                    <div style="clear: both;"></div>
                </div>
            </section>
            <!--  <br/> -->
            <!-- ***************************************************************************************************************** --->
            <div id="block-rwf-content">

                <!-- ************************************************************************************************************ --->
                <br />
                <table style="margin-left:97px !important;width:1320px;border:none;border-collapse:collapse;border-spacing: 0 !important;padding:0;line-height: normal;">
                    <tr>
                        <td style="padding:0;border:none;vertical-align:top;text-align:left;"><div class="news-stories-header"><h2>NEWS <span class="small">&amp;</span><span> events</span></h2></div></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding:0;border:none;vertical-align:top;text-align:left;"><div class="news-stories-header"><p class="subtitle">News, Programs, Services and Resources for Your Health</p></div></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

                <table style="margin-left:97px !important;width:1320px; background-color:#fff; border-collapse:collapse;border-spacing: 0 !important;padding:0;line-height: normal;">
                    <tr style="margin:0;padding:0;border-collapse:collapse !important;">
                        <td>&nbsp;</td>
                    </tr>
                </table>

                <table style="margin-left:97px !important;width:1320px;border:none;border-collapse:collapse;border-spacing: 0 !important;padding:0;line-height: normal;">
                    <tr>
                        <td rowspan="3" style="vertical-align:text-top"><a href='#'><img src='image/flu.jpg' alt="TomEngle"></a></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="padding-top: 0px;border:none;vertical-align:bottom;text-align:left;">
                            <div class="news-stories-header">
                                <h4>A Simple Way to Keep the Flu Away</h4>
                            </div>
                            <div class="news-stories-header">
                                <p>
                                    You can prevent the flu this season by taking one simple step: Get a flu vaccine. The CDC recommends everyone 6 months and older get vaccinated with rare exceptions.
                                    Vaccination is particularly important for people who are at high risk of serious complications from influenza.
                                    Flu vaccination has important benefits. It can reduce flu illnesses, doctors’ visits, and missed work and school due to flu, as well as prevent flu-related hospitalizations and deaths.
                                </p>
                            </div>
                            <p></p><div class="more-news">
                                <a href="media.html" class="blue_more-btn">More Stories</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                    </tr>
                </table>
                <!-- ************************************************************************************************************ --->
                <!-- ***************************************************************** --->
                <div id="home-spotlight">
                    <div class="wrap">
                        <div class="bound-narrow"><h2>Everyday we are working to make health care better.</h2></div>

                        <div class="flex">
                            <div class="spotlight-item">
                                <h3>How to get to<br>Fairfax Community Hospital </h3>
                                <p>Directions to Fairfax Community Hospital.</p>
                                <div class="btn-wrap">
                                    <a href="contact.html" class="blue-gradient-btn">Driving Directions</a>
                                </div>
                            </div>

                            <div class="spotlight-item">
                                <h3>What times <br>can I visit</h3>
                                <p>Visiting during coronavirus (COVID-19).</p>
                                <div class="btn-wrap">
                                    <a href="visiting.html" class="blue-gradient-btn">Visiting Guidelines</a>
                                </div>
                            </div>

                            <div class="spotlight-item">
                                <h3>How can I contact<br> someone</h3>
                                <p>For General Inquiries contact the Main Switchboard at 918-642-3291.</p>
                                <div class="btn-wrap">
                                    <a href="contact.html" class="blue-gradient-btn">Main switchboard</a>
                                </div>
                            </div>

                            <div class="spotlight-item">
                                <h3>Find a <br>service</h3>
                                <p>Explore our healthcare services.</p>
                                <div class="btn-wrap">
                                    <a href="srv_index.html" target="_blank" class="blue-gradient-btn">Services</a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- ***************************************************************** --->
                <!-- ***************************************************************** --->
                <!-- ***************************************************************** --->
            </div>
            <!-- section 3********* -->
            <!-- ***************************************************************** --->
            <div id="home-explore">
                <div class="row">
                    <h2>Explore Patient Care Services</h2>

                    <div class="flex">
                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-465060365.jpg" alt="" />
                                </div>
                                <h5>Emergency Care</h5>
                                <p style="color:#6d6d6d">Fast, expert care is here when you need it, our emergency department is built with speed, efficiency and your comfort in mind. Triage, the first step of emergency care, we also have dedicated CT and digital imaging technology, so you get diagnosis and treatment faster.</p>
                            </a>
                        </div>

                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-845773102.jpg" alt="" />
                                </div>
                                <h5>Inpatient Care</h5>
                                <p style="color:#6d6d6d">Should you or a family member require an overnight stay, we offer comfortable, around-the-clock care. Our patient rooms and visitors' areas are clean, quiet, and comfortable.  Our care-givers are warm and friendly and typically get to know patients and their families well.</p>
                            </a>
                        </div>

                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-1050311748.jpg" alt="" />
                                </div>
                                <h5>Diagnostic Services </h5>
                                <p style="color:#6d6d6d">Fairfax Community Hospital offers laboratory testing and imaging services providing your doctor more insight into your condition, so you can have an accurate diagnosis and the most effective treatment.</p>
                            </a>
                        </div>

                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-92239257.jpg" alt="" />
                                </div>
                                <h5>Medical Transportation Services</h5>
                                <p style="color:#6d6d6d">We provide ground transport for our swing bed service patients. We also arrange trauma transportation by utilizing our on-site hospital helipad so we can get you the care you need.</p>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
            <br />
            <!-- ***************************************************************** --->
            <!-- ******* -->
        </div> <!-- end layout -->



        <table width="100%" bgcolor="#00569d" margin="8" padding="8">
            <tr bgcolor="00569d" height="44px">
                <td align="center"><span class="spbottom">Community Health Partner&nbsp;&nbsp;&nbsp;learn more about our services &amp; classes &mdash; 918-642-3291&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
        </table>






        <div style="overflow-x:auto;">
            <table width="100%" table-layout="fixed" bgcolor="#15223b" margin="7" padding="7">
                <tr bgcolor="#15223b" height="20px">
                    <td>&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td rowspan="3" style="width:275px"><span class="spfooter"><img src="image/fchlogoRwgtsm.png" alt="Bottom logo Rural Wellness" /></span></td>

                    <td>&nbsp;</td>
                    <td style="width:328px"><span class="spfooterh"><b>AT FAIRFAX COMMUNITY HOSPITAL</b></span></td>

                    <td style="width:275px"><span class="spfooterh"><b>OUR NETWORK</b></span></td>

                    <td style="width:275px"><span class="spfooterh"><b>AFFILIATES</b></span></td>
                    <td rowspan="2" style="width:275px">
                        <a href="https://www.facebook.com/fairfaxcommunityhospital/" target="_blank" title="Follow Fairfax Community Hospital on Facebook"><img border="0" alt="Facebook Icon" src="image/hiclipart.com10.png"></a>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    @*<td>&nbsp;</td>*@
                    <td><span class="spfooter"><a href="srv_index.html" style="color:#aaa9ad !important;">Services</a></span></td>
                    <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax Clinic</a></span></td>
                    <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax, Inc</a></span></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td>&nbsp;</td>
                    @*<td>&nbsp;</td>*@
                    <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="srv_pricing.html" style="color:#aaa9ad !important;">Pricing</a></span></td>
                    <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Pawnee Clinic</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td style="width:300px"><span class="spfooter">40 Hospital Rd. Fairfax, OK 74637</span></td>
                    <td>&nbsp;</td>
                    @*<td>&nbsp;</td>*@
                    <td><span class="spfooter"><a href="visiting.html" style="color:#aaa9ad !important;">Patients &amp; Visitors</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="32px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><span class="spfooter2">(918) 642-3291 or <a class="underline" href="contact.html">contact us</a></span></td>
                    <td>&nbsp;</td>
                    @*<td>&nbsp;</td>*@
                    <td><span class="spfooter"><a href="hw_links.html" style="color:#aaa9ad !important;">Health &amp; Wellness</a></span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b" height="33px">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    @*<td>&nbsp;</td>*@
                    <td><span class="spfooter"><a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#aaa9ad !important;"><span class="spfooter">Careers</span></a></span></td>
                    <td>&nbsp;</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr bgcolor="#15223b">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>

            </table>
        </div>

        <footer id="main-footer">
            <div class="footer-top">
                <!--   <div id="sitemap">
                    <div > -->
                <!--</div>
                </div> -->
                <div class="copyright">
                    <div class="row">

                    </div>
                </div>
            </div>
        </footer>

    </main>
</div> <!-- end body-wrap -->

@inject IJSRuntime JSRuntime;
@code{
    //    jsruntime.invokevoidasync("jsinteropfunction", new object[] { "sidebar" },true);
    //statehaschanged();
}