@page "/Srv_index"


<div id="body-wrap">
    <main>
        <a class="skip-main" href="#layout">Skip to main content</a>
        <br/>
        <div id="layout">
            <!-- **************************************************************************************************** -->
            <article>
                <h9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patient Services&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h9>

                <img src="pics/services4.png" style="vertical-align: middle;margin-bottom: 0.75em;" alt="" />

                <!-- **************************************************************************************************** -->
                <div id="home-spotlight">
                    <div class="flex">
                        <article_nested>
                            <span class="callunawhite">
                                Rural Wellness Fairfax, Inc is dedicated to providing top-quality healthcare services close to home.

                                Fairfax Community Hospital is a full-service critical access hospital located in Osage County, Oklahoma.
                                <br />

                                We believe that by providing quality healthcare close to home, the community as a whole benefits.

                                Our hospital staff are your neighbors, your family and your friends.

                                We hope that you will see our hospital and clinics as an asset to our community as we continue making every effort to sustain our independence and respond and care of our patients.
                            </span>
                        </article_nested>
                    </div>
                </div>
                <!-- **************************************************************************************************** -->
                <br />
                <span style="font-weight:500;font-size:1.4em;color:#003660;">Fairfax Community Hospital offers a broad range of services including Emergency, Radiology, Laboratory, Inpatient Care,<br /> Respiratory Therapy, Swing Bed and Rehabilitation Services.</span>
                <br /><br />
                <div class="heading-title heading-border heading-color">
                    <h4>Emergency  <span>Department</span></h4>
                </div>
                <p class="cardtext">
                    The Emergency Room is staffed 24/7 by a pool of trained and qualified providers providing immediate and emergent care and services for patients.
                    Full laboratory and radiology services are available on-call 24 hours a day, 7 days a week. We realize that the need to visit the Emergency Department can be a stressful time and our goal is to meet the needs of each patient and provide an excellent care experience for everyone who steps into our ER.
                </p>

                <div class="heading-title heading-border heading-color">
                    <h4>Inpatient  <span>Care</span></h4>
                </div>
                <p class="cardtext">15 bed unit that provides quality care for the acute or chronically ill patient. Care is provided for  everyone through the complete age spectrum, children through geriatrics.</p>

                <div class="heading-title heading-border heading-color">
                    <h4>Swing <span>Bed</span></h4>
                </div>
                <p class="cardtext">"Swing Bed" or Skilled Care Services is a concept developed by Medicare in the 1970’s to help rural healthcare utilize local care and keep adequate healthcare in the rural areas of America.</p>

                <div class="heading-title heading-border heading-color">
                    <h4>Radiology <span></span></h4>
                </div>
                <p class="cardtext">•Radiography (X-Ray), •Computed Tomography (CT) Scans, •Magnetic Resonance Imaging (MRI), •Ultrasound, including OB sonograms, and Mobile X-Ray units in-house.  </p>

                <div class="heading-title heading-border heading-color">
                    <h4>Full-Service <span>Laboratory</span></h4>
                </div>
                <p class="cardtext">Our highly qualified laboratory staff treat all specimens with the careful precision and quality practices that have allowed us to be state certified.</p>


                <div class="heading-title heading-border heading-color">
                    <h4>Respiratory <span>Therapy</span></h4>
                </div>
                <p class="cardtext">The goal of the Respiratory Therapy Department is to provide life supporting life enhancing service to our clients, to extend the quality and quantity of their lives.</p>

                <div class="heading-title heading-border heading-color">
                    <h4>Rehabilitation <span>Services</span></h4>
                </div>
                <p class="cardtext">Serving patients in the Osage County area, Fairfax Community Hospital has an active Rehabilitation Services department that includes three strong programs: Physical, Occupational & Speech Therapy.</p>





                <!-- **************************************************************************************************** -->

            </article>	<!-- end article css -->
            <!-- **************************************************************************************************** -->
            <!-- section 3********* -->
            <!-- ***************************************************************** --->
            <div id="home-explore">
                <div class="row">
                    <!--<h2>Explore Patient Care Services</h2>-->

                    <div class="flex">
                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-465060365.jpg" alt="" />
                                </div>
                                <h5>Emergency Care</h5>
                                <p style="color:#6d6d6d">Fast, expert care is here when you need it, our emergency department is built with speed, efficiency and your comfort in mind. Triage, the first step of emergency care, we also have dedicated CT and digital imaging technology, so you get diagnosis and treatment faster.</p>
                            </a>
                        </div>

                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-845773102.jpg" alt="" />
                                </div>
                                <h5>Inpatient Care</h5>
                                <p style="color:#6d6d6d">Should you or a family member require an overnight stay, we offer comfortable, around-the-clock care. Our patient rooms and visitors' areas are clean, quiet, and comfortable.  Our care-givers are warm and friendly and typically get to know patients and their families well.</p>
                            </a>
                        </div>

                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-1050311748.jpg" alt="" />
                                </div>
                                <h5>Diagnostic Services </h5>
                                <p style="color:#6d6d6d">Fairfax Community Hospital offers laboratory testing and imaging services providing your doctor more insight into your condition, so you can have an accurate diagnosis and the most effective treatment.</p>
                            </a>
                        </div>

                        <div class="explore-item">
                            <a href="srv_index.html">
                                <div class="dynamic-image" style="padding-bottom: 61.349693251534%">
                                    <img class="lazyload" data-nmc-src="image/iStock-92239257.jpg" alt="" />
                                </div>
                                <h5>Medical Transportation Services</h5>
                                <p style="color:#6d6d6d">We provide ground transport for our swing bed service patients. We also arrange trauma transportation by utilizing our on-site hospital helipad so we can get you the care you need.</p>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
            <br />
            <!-- ***************************************************************** --->






        </div> <!-- end layout -->



        <table width="100%" bgcolor="#00569d" margin="8" padding="8">
            <tr bgcolor="00569d" height="44px">
                <td align="center"><span class="spbottom">Community Health Partner&nbsp;&nbsp;&nbsp;learn more about our services &amp; classes &mdash; 918-642-3291&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
        </table>







        <table width="100%" bgcolor="#15223b">
            <tr bgcolor="#15223b" height="20px">
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td rowspan="3" style="width:275px">
                    <span class="spfooter"><img src="image/fchlogoRwgtsm.png" alt="Bottom logo Rural Wellness" /></span>
                </td> <!--fchlogoRwgt.png-->
                <td>&nbsp;</td>
                <td style="width:328px"><span class="spfooterh"><b>AT FAIRFAX COMMUNITY HOSPITAL</b></span></td>

                <td style="width:275px"><span class="spfooterh"><b>OUR NETWORK</b></span></td>

                <td style="width:275px"><span class="spfooterh"><b>AFFILIATES</b></span></td>
                <td rowspan="2" style="width:275px">
                    <a href="https://www.facebook.com/fairfaxcommunityhospital/" target="_blank" title="Follow Fairfax Community Hospital on Facebook"><img border="0" alt="Facebook Icon" src="image/hiclipart.com10.png"></a>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="srv_index.html" style="color:#aaa9ad !important;">Services</a></span></td>
                <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax Clinic</a></span></td>
                <td><span class="spfooter"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Fairfax, Inc</a></span></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="srv_pricing.html" style="color:#aaa9ad !important;">Pricing</a></span></td>
                <td><span class="spfooter" style="color:#aaa9ad !important;"><a href="about.html" style="color:#aaa9ad !important;">Rural Wellness Pawnee Clinic</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td style="width:300px"><span class="spfooter">40 Hospital Rd. Fairfax, OK 74637</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="visiting.html" style="color:#aaa9ad !important;">Patients &amp; Visitors</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="32px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><span class="spfooter2">(918) 642-3291 or <a class="underline" href="contact.html">contact us</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="hw_links.html" style="color:#aaa9ad !important;">Health &amp; Wellness</a></span></td>
                <td>&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b" height="33px">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><span class="spfooter"><a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#aaa9ad !important;"><span class="spfooter">Careers</span></a></span></td>
                <td>&nbsp;</td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr bgcolor="#15223b">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <!--        <tr bgcolor="15223b">
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>&nbsp;</td>
              <td>&nbsp;</td>
             <td>&nbsp;</td>
              <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>

             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr> -->
            <!--   <tr bgcolor="15223b">
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>&nbsp;</td>
              <td>&nbsp;</td>
             <td>&nbsp;</td>
              <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr> -->
        </table>


        <footer id="main-footer">
            <div class="footer-top">
                <!--   <div id="sitemap">
            <div > -->
                <!--</div>-->
            </div>
            <div class="copyright">
                <div class="row">

                </div>
            </div>
        </footer>

    </main>
</div> <!-- end body-wrap -->

@code {

}
