@inject NavigationManager NavigationManager
<div id="body-wrap">
    <main>
        @* <a class="skip-main" href="#layout">Skip to main content</a>*@

        <header id="header">
            <div id="logo">
                <a href="index.html">
                    @*<a href="index.html">*@
                    @code {

                        void MethodToTriggerUrl()
                        {
                            NavigationManager.NavigateTo("index");
                        }
                    }

                    @*</a>*@
                    <img alt="Rural Wellness Fairfax, Inc." src="image/logotopblue.png" />
                </a>
            </div>



            <nav id="primary-nav">

                <div class="rwf-nav-container">

                    <ul class="nav-menu menu main-menu-1" block="block-main-nav">


                        <li class="rwf-parent-menu-item leaf">

                            <a href="index.html" class="menu-link is-active"></a> <!--Home-->
                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="srv_index.html" class="menu-link" style="color:#00569d !important;">Hospital <br /> Services</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-2" aria-labelledby="button-2">


                                <li class=" leaf">

                                    <a href="srv_index.html" style="color:#fff !important;">See All Services</a>
                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Emergency Department</a>
                                </li>
                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Full-Service Laboratory</a>
                                </li>

                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Inpatient Care</a>
                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Radiology</a>


                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Rehabilitation Services</a>


                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Respiratory Therapy</a>


                                </li>


                                <li class=" leaf">

                                    <a href="srv_index.html#mvv" style="color:#fff !important;">Swing Bed</a>


                                </li>

                            </ul>


                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="srv_pricing.html" class="menu-link" style="color:#00569d !important;">Pricing <br />  Transparency</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-3" aria-labelledby="button-3">


                                <li class=" leaf">

                                    <a href="srv_pricing.html" style="color:#fff !important;">Hospital Pricing Information</a>
                                </li>
                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="hw_events.html" class="menu-link" style="color:#00569d !important;">Health & Wellness</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-4" aria-labelledby="button-4">

                                <li class=" leaf">

                                    <a href="hw_events.html" style="color:#fff !important;">Classes & Events</a>


                                </li>
                                <li class=" leaf">

                                    <a href="hw_links.html" style="color:#fff !important;">Health Resource Links</a>
                                </li>


                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item has-dropdown">

                            <a href="contact.html" class="menu-link" style="color:#00569d !important;">About <br /> Us</a>

                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-5" aria-labelledby="button-5">


                                <li class=" leaf">

                                    <a href="contact.html" style="color:#fff !important;">Contact Us</a>
                                </li>
                                <li class=" leaf">

                                    <a href="https://www.indeed.com/cmp/First-Physicians-Capital-Group/jobs?clearPrefilter=1#cmp-skip-header-desktop" target="_blank" style="color:#fff !important;">Careers</a>
                                </li>

                                <li class=" leaf">

                                    <a href="about.html" style="color:#fff !important;">About Rural Wellness Fairfax, Inc.</a>
                                </li>
                                <li class=" leaf">
                                    <a href="hospbrd.html" style="color:#fff !important;">About Our Governing Board</a>
                                </li>
                                <li class=" leaf">
                                    <a href="index.html" style="color:#fff !important;">About Fairfax Community Hospital</a> <!--Home-->
                                </li>
                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item leaf has-dropdown">

                            <a href="visiting.html" class="menu-link" style="color:#00569d !important;">Patients & Visitors</a>
                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-5" aria-labelledby="button-5">
                                <li class=" leaf">
                                    <a href="covid.html" style="color:#fff !important;">COVID-19: Keeping Our Patients Safe</a>
                                </li>
                                <li class=" leaf">
                                    <a href="visiting.html" style="color:#fff !important;">Visitation Guidelines</a>
                                </li>
                            </ul>
                        </li>


                        <li class="rwf-parent-menu-item leaf has-dropdown">

                            <a href="media.html" class="menu-link" style="color:#00569d !important;">News & Media</a>
                            <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="rwf-nav-fa-chevron-down fa fa-chevron-down fa-stack-1x fa-inverse"></i></span>
                            <ul class="nav-dropdown menu" aria-hidden="true" id="dropdown-5" aria-labelledby="button-5">


                                <li class=" leaf">

                                    <a href="media.html" style="color:#fff !important;">News &amp; Media</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
    </main>






</div>  @*end body-wrap*@

@code {

}
